.loaderBackDrop {
    position: fixed; 
    text-align: center; 
    height: 100%; 
    width: 100%; 
    top: 0; 
    right: 0; 
    left: 0; 
    z-index: 9999999; 
    background-color: #000000; 
    opacity: 0.7;
}
.loader {
    padding: 10px;
    position:fixed;
    top:27%;
    left:40%;
}
