<div id="errorDiv" class="collapse alert alert-danger" role="alert">
    <label id="ErrorMessageDiv"></label>
</div>
<div id="successDiv" class="collapse alert alert-success" role="alert">
    <label id="SuccessMessageDiv"></label>
</div>
