.main {
    /*background-color:white;*/
    width:100%;
}
.contentHeader {
    border: 1px solid black;
    height:20px;
    background-color:darkgray;
    margin-bottom:1px;
    font-weight:700;
    padding-left:5px;
}
.contentSubHeader {
    height:5px;
    background-color:blueviolet;
}
.contentMain {
    border:1px solid black;
    margin-top:1px;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    height:400px;
}